{% extends "bootstrap/base.html" %}

<!-- 1. Definindo o título da página -->
{% block title %}Avaliação Contínua{% endblock %}

<!-- 2. Definindo a barra de navegação -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Aula 040</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- 3. Adicionando os links de navegação -->
                <li><a href="/">Home</a></li>
                <li><a href="/user/Rogerio%20Santos%20Barbosa/PT3032051/IFSP">Identificação</a></li>
                <li><a href="/contextorequisicao/Rogerio%20Santos%20Barbosa">Contexto da requisição</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<!-- 4. Definindo o bloco de conteúdo principal -->
{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

<!-- 5. Incluímos os scripts do Moment.js para as datas dinâmicas -->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

{% endblock %}
